<!-- 1,navbar-inverse: blk backgrd + white text; 2,burger-menu with button:"collapse", 
data-target connect with follow same class name; 3, span class="icon-bar"> 加横线 -->
<nav class="navbar navbar-inverse navbar-fixed-top"> 
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-list-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Online Auction</a>
    </div>
    <div class="collapse navbar-collapse navbar-list-collapse" >
      <ul class="nav navbar-nav">
        <li><a href="#">about us</a></li>
        <li><a href="#">contact us</a></li>
        <li><a href="#">googleMap us</a></li>
      </ul>
    </div>
  </div>
</nav>